*{
    margin: 0;
    font-family: 'Titillium Web';
}

.left_sec{
    background-color: rgb(0, 0, 0);
    background: url('./images/Background1.png') no-repeat;
    width: 50%;
    height: 100vh;
    float: left;
}

.intro{
    font-weight: 100;
    font-size: 42px;
    margin: 10% 28% 0%;
    text-align: left;
}

.right_sec{
    background-color: rgb(41, 41, 41);
    width: 50%;
    height: 100vh;
    float: left;
}


.logo{
    margin: 0px;
    width: 100px;
}

li{
    list-style-type: none;
    margin-top: 15px;
}

ul{
    padding-left: 0px;
}

.buttons{
    text-align: center;
    margin-top: 40%;
    font-size: 23px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.student{
    background-color: rgb(158, 188, 159);
    border-radius: 25px;
}

.tutor{
    background-color: rgb(228, 158, 159);
    border-radius: 25px;
}

.instructions{
    color: rgb(255, 213, 139);
    text-align: center;
    margin-top: 30%;
}

